.fa-solid {
	&::before {
		content: var(--fa);
		font-family: Awesome-Solid, sans-serif;
	}
}

.fa-brands {
	&::before {
		content: var(--fa);
		font-family: Awesome-Brands, sans-serif;
	}
}

.fa-phone {
	--fa: '\f095';
}

.fa-whatsapp {
	--fa: '\f232';
}

.fa-telegram {
	--fa: '\f2c6';
}

.fa-vk {
	--fa: '\f189';
}

.fa-tiktok {
	--fa: '\e07b';
}

.fa-youtube {
	--fa: '\f167';
}

.fa-instagram {
	--fa: '\f16d';
}

.fa-location-dot {
	--fa: '\f3c5';
}

.fa-envelope {
	--fa: '\f0e0';
}

.fa-phone-volume {
	--fa: '\f2a0';
}

.fa-clock {
	--fa: '\f017';
}
