@use './chunk/burger-menu';
@use 'mixins/adaptive-font' as *;
@use 'vars' as *;

.logo {
	z-index: 1;
	display: flex;
	align-items: center;
	clip-path: polygon(0 0, 100% 0%, 88% 100%, 0% 100%);
	padding: 10px 60px;
	padding-right: 80px;
	background-image: url('@img/general/logo-bg.webp');
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: var(--accent-color);

	&__img {
		max-width: 170px;

		@media (width <= 1100px) {
			max-width: 150px;

			@media (width <= 1025px) {
				max-width: 120px;
			}
		}
	}

	@media (width <= 1300px) {
		padding-right: 40px;
		padding-left: 20px;
	}

	@media (width <= 1025px) {
		padding: 0;
		background: none;
	}
}

.menu {
	position: relative;
	display: flex;
	align-items: center;
	height: 60%;

	&__body {
		&--mobile {
			position: fixed;
			left: -100%;
			top: 0;
			z-index: 5;
			overflow: auto;
			padding: 100px 30px 30px;
			width: 100%;
			height: 100vh;
			background-color: var(--accent-color);
			transition: left 0.3s;
		}

		&--active {
			left: 0;
		}
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 30px;

		&--mobile {
			flex-direction: column;
		}

		@media (width <= 1100px) {
			gap: 20px;
		}
	}

	&__link {
		font-weight: 600;
		font-size: 15px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: var(--dark-title-color);
		transition: opacity var(--time);
		transition: color var(--time);

		&:hover {
			color: var(--accent-color);
		}

		@media (width <= 1100px) {
			font-size: 14px;
		}
	}
}

.socials {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: Awesome-Brands, sans-serif;
	font-size: 30px;
	color: var(--accent-color);
	gap: 5px;

	&__link {
		transition: transform var(--time);

		&::before {
			content: var(--fa);
		}

		&:hover {
			transform: scale(1.1);
		}

		&--wa {
			color: #43d854;
		}

		&--tg {
			color: #08c;
		}

		&--vk {
			color: #597da3;
		}

		&--tt {
			color: #001c40;
		}

		&--yt {
			color: #f03;
		}

		&--ig {
			color: #e4405f;
		}
	}
}

.section {
	padding: 100px 0;

	&-hero {
		background-image: linear-gradient(rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)),
			url('@img/hero/hero-bg.webp');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&-advantages {
		padding-bottom: 0;
	}

	&-articles {
		background-image: url('@img/articles/articles-bg.webp');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&-contacts {
		background-image: url('../img/contacts/contacts-bg.webp');
		background-position: left center;
		background-size: 290px;
		background-repeat: no-repeat;
	}

	&--dark-bg {
		background-image: url('@img/general/bg.webp');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: var(--bg-color);
	}

	@media (width <= 768px) {
		padding: 50px 0;
	}
}

.title {
	margin: 0;
	font-family: var(--font-second);
	font-weight: 800;
	color: var(--dark-title-color);
	@include adaptive-font(36, 30);

	&--center {
		margin: 0 auto;
		margin-bottom: 50px;
		max-width: fit-content;
		text-align: center;
	}

	&--light-color {
		color: var(--light-color);
	}
}

.subtitle {
	margin: 0;
	max-width: fit-content;
	font-family: var(--second-font);
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	@include adaptive-font(14, 14);

	&--dark-color {
		color: var(--gray-text-color);
	}
}

.text {
	margin: 0;
	line-height: var(--line-height-big);
	color: var(--gray-text-color);
	@include adaptive-font(16, 16);

	&--light-color {
		color: var(--light-color);
	}
}

.link {
	display: inline-block;
	border-radius: 4px;
	padding: 10px 22px;
	font-size: 15px;
	text-align: center;
	background-color: var(--accent-color);
	transition: background-color var(--time);

	&:hover {
		background-color: var(--red-color);
	}

	&--arrow {
		&::after {
			content: '\f101';
			position: relative;
			display: inline-block;
			font-family: Awesome-Solid, sans-serif;
			color: currentcolor;
			opacity: 0;
			visibility: hidden;
			transform: translateX(-100%);
			transition: all var(--time);
		}

		&:hover {
			&::after {
				padding-left: 10px;
				opacity: 1;
				visibility: visible;
				transform: translateX(0);
			}
		}
	}
}

.info-card {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 40px;

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media (width <= 768px) {
			width: 100%;
		}
	}

	&__subtitle {
		position: relative;
		display: block;
		margin-bottom: 5px;
		padding-left: 30px;
		max-width: fit-content;
		font-family: var(--font-second);
		font-weight: 700;
		font-size: 14px;
		letter-spacing: 1px;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			width: 20px;
			height: 3px;
			background-color: var(--accent-color);
			transform: translateY(-50%);
		}

		&--uppercase {
			text-transform: uppercase;
		}

		&--gray-color {
			color: var(--gray-text-color);
		}
	}

	&__title {
		margin: 0;

		@media (width <= 768px) {
			margin: 0 auto;
			width: 100%;
			max-width: 100%;
		}
	}

	&__text {
		max-width: 50%;

		&--max-width {
			max-width: 100%;
		}

		@media (width <= 768px) {
			max-width: 100%;
		}
	}

	&--center {
		align-items: center;
	}

	&--column {
		flex-direction: column;
		gap: 30px;
	}

	@media (width <= 768px) {
		gap: 20px;
		flex-direction: column;

		&--text-center {
			text-align: center;
		}
	}
}

.swiper {
	padding-bottom: 70px;
	width: 1200px;
	height: auto;
}

.swiper-button-next,
.swiper-button-prev {
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 44px;
	height: 44px;
	background-color: var(--accent-color);
	transition: background-color var(--time);

	&::after {
		font-weight: 900;
		font-size: 16px;
		line-height: 1;
		color: var(--light-color);
	}

	&:hover {
		background-color: var(--red-color);
	}

	&:disabled {
		opacity: 0.5;
	}
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: 0;
}

.swiper-pagination-bullet {
	margin: 0 5px !important;
	border: 1px solid var(--gray-text-color);
	border-radius: 50%;
	width: 17px;
	height: 17px;
	background-color: transparent;
	opacity: 1;
	transition: all 0.3s;

	&-active {
		border: 1px solid transparent;
		background-color: var(--accent-color);
	}

	&:hover {
		border: 1px solid transparent;
		background-color: var(--accent-color);
	}
}

.banner {
	background-image: linear-gradient(rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)),
		url('../img/hero/hero-bg.webp');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	&__content {
		padding: 100px 0;

		@media (width <= 767px) {
			padding: 60px 0;
		}
	}

	&__title {
		margin: 0;
		margin-bottom: 20px;
		max-width: fit-content;
		font-family: var(--font-second);
		font-weight: 800;
		@include adaptive-font(42, 30);
	}
}

.main-card {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border-radius: 6px;
	width: 100%;
	background-color: var(--light-color);

	&__info {
		position: relative;
		z-index: 1;
		padding: 20px 30px;
		padding-top: 40px;
		color: var(--gray-text-color);
		background-color: var(--light-color);
		transition: transform var(--time);

		&::before {
			content: '';
			position: absolute;
			left: 30px;
			bottom: 100%;
			z-index: 6;
			border-radius: 50%;
			width: 70px;
			height: 70px;

			// background-image: url('@img/icons/sprite.svg#letters-decor');
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			background-color: var(--accent-color);

			@media (width <= 992px) {
				display: none;
			}
		}

		&::after {
			content: '';
			position: absolute;
			right: 0;
			bottom: 100%;
			z-index: 5;
			width: 100%;
			min-height: 69px;
			background-image: url('@img/icons/sprite.svg#letters-decor');
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;

			@media (width <= 992px) {
				display: none;
			}
		}

		&:hover {
			transform: translateY(-10px);
		}
	}

	&__title {
		margin: 0;
		margin-bottom: 15px;
		max-width: fit-content;
		font-family: var(--font-second);
		font-weight: 700;
		color: var(--dark-title-color);
		transition: color var(--time);
		@include adaptive-font(24, 20);

		&:hover {
			color: var(--accent-color);
		}
	}

	&__link {
		position: relative;
		display: flex;
		align-items: center;
		max-width: fit-content;
		font-weight: 900;
		letter-spacing: 1px;
		text-transform: uppercase;
		gap: 5px;
		transition: color var(--time);
		@include adaptive-font(15, 15);

		&::after {
			content: '\f101';
			position: relative;
			display: inline-block;
			font-family: Awesome-Solid, sans-serif;
			color: currentcolor;
			transition: transform var(--time);
		}

		&:hover {
			color: var(--red-color);

			&::after {
				transform: translateX(5px);
			}
		}
	}
}

.second-card {
	position: relative;
	display: flex;
	min-height: 260px;
	max-height: 260px;

	img {
		transition: filter var(--time);
	}

	&__title {
		position: absolute;
		right: 50%;
		bottom: -40px;
		margin: 0;
		border-radius: 0 0 4px 4px;
		padding: 25px 10px;
		width: 90%;
		box-shadow: 0 0 10px var(--dark-opacity-color);
		font-weight: 800;
		text-align: center;
		background-color: var(--light-color);
		transform: translateX(50%);
		@include adaptive-font(20, 20);

		&::before {
			content: '';
			position: absolute;
			right: 50%;
			top: 0;
			width: 15%;
			height: 4px;
			background-color: var(--accent-color);
			transform: translateX(50%);
			transition: width var(--time);
		}
	}

	&__link {
		font-family: var(--font-second);
		color: var(--dark-title-color);
		transition: color var(--time);

		&:hover {
			color: var(--accent-color);
		}
	}

	&:hover {
		img {
			filter: brightness(80%);
		}

		.second-card__title::before {
			width: 100%;
		}
	}
}

.select {
	position: relative;
	color: var(--dark-color);

	&__header {
		display: flex;
		border: 1px solid var(--dark-opacity-color);
		border-radius: 5px;
		cursor: pointer;
	}

	&__current {
		padding: 8px;
		font-size: 18px;
		line-height: 24px;
	}

	&__icon {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		margin: auto;
		margin-right: 0;
		width: 30px;
		height: 30px;
		text-align: center;
	}

	&__body {
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		display: none;
		border: 1px solid #000;
		border-top: 0;
	}

	&__item {
		padding: 8px;
		font-size: 16px;
		line-height: 24px;
		background-color: var(--light-color);
		transition: background-color var(--time);
		cursor: pointer;
	}

	&__item:hover {
		background-color: var(--gray-color);
	}

	&.is-active .select__body {
		display: block;
	}
}

.table {
	overflow: hidden;
	border-collapse: collapse;
	border-radius: 20px;
	width: 100%;
	box-shadow: 0 0 25px 0 rgb(0 0 0 / 10%);
	text-align: left;
	color: #000;

	& thead {
		color: var(--light-color);
		background-color: var(--accent-color);
	}

	& th,
	& td {
		border: 2px solid #f9f9f9;
		padding: 20px 30px 20px 20px;
	}

	& th {
		border-top: none;
	}

	& th:first-child,
	& td:first-child {
		border-left: none;
	}

	& th:last-child,
	& td:last-child {
		border-right: none;
	}

	& tr:last-child > td {
		border-bottom: none;
	}

	&__link {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 1px;
			background-color: var(--accent-color);
			transition: width var(--time);
		}

		&:hover {
			&::after {
				width: 0;
			}
		}
	}
}
