<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link type="image/png" href="favicon/favicon.png" rel="shortcut icon" />

	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<meta name="theme-color" content="#111111" />
	<title>{{ title }}</title>
	<link href="css/critical.min.css" rel="stylesheet" />
	<link href="css/libs.min.css" rel="stylesheet" />
	<link href="css/styles.min.css" rel="stylesheet" />
</head>

<body>

	<div class="site-container">

		{{> body}}

	</div>
	<script src="js/scripts.min.js"></script>

</body>

</html>