.application {
	border-radius: 10px;
	padding: 30px;
	background: #312f30;

	&__title {
		margin: 0 auto;
		margin-bottom: 40px;
		max-width: 750px;
		font-size: 26px;
		text-align: center;
		color: var(--light-color);
	}

	&__wrap {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 30px;

		@media (width <= 768px) {
			flex-direction: column;
		}
	}

	&__left {
		max-width: 60%;

		@media (width <= 768px) {
			width: 100%;
			max-width: 100%;
		}
	}

	&__subtitle {
		margin: 0;
		margin-bottom: 20px;
		font-size: 20px;
		color: var(--light-color);
	}

	&__form {
		width: 100%;
		max-width: 35%;
		background-color: #fff;

		@media (width <= 768px) {
			width: 100%;
			max-width: 100%;
		}
	}
}

.application-advantages {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	margin-bottom: 40px;

	&__card {
		display: flex;
		align-items: center;
		gap: 15px;

		@media (width <= 768px) {
			flex-direction: column;
			text-align: center;
		}
	}

	&__icon {
		width: 50px;
		height: 50px;

		@media (width <= 768px) {
			width: 30px;
			height: 30px;
		}
	}

	&__text {
		color: var(--light-color);
	}
}
