@use 'mixins/adaptive-font' as *;
@use 'vars' as *;

.articles {
	&__info-card {
		margin-bottom: 70px;
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: 50px;
		gap: 30px;

		@media (width <= 1200px) {
			justify-content: center;
		}
	}
}

.articles-card {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border-radius: 6px;
	width: 100%;
	max-width: 370px;
	box-shadow: 0 12px 21px 0 rgb(0 0 0 / 10%);
	background-color: var(--light-color);

	&__img {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			left: -75%;
			top: 0;
			z-index: 1;
			display: block;
			width: 50%;
			height: 100%;
			background: linear-gradient(to right, rgb(255 255 255 / 0%) 0%, rgb(255 255 255 / 30%) 100%);
			transform: skewX(-25deg);
		}

		img {
			width: 100%;
			max-height: 250px;
		}

		&:hover {
			&::before {
				animation: shine 0.75s;
			}
		}
	}

	&__link-img {
		img {
			width: 100%;
			max-height: 250px;
		}
	}

	&__content {
		padding: 35px;
		line-height: var(--line-height-big);
	}

	&__title {
		margin: 0;
		margin-bottom: 20px;
		max-width: fit-content;
		font-family: var(--font-second);
		font-weight: 700;

		@include adaptive-font(24, 18);
	}

	&__link {
		color: var(--dark-title-color);
		transition: color var(--time);

		&:hover {
			color: var(--accent-color);
		}
	}

	&__excerpt {
		margin: 0;
		font-size: 16px;
		color: var(--gray-text-color);
	}
}

.article-page {
	&__cards {
		display: grid;
		grid-gap: 30px;
		grid-template-columns: repeat(1, 1fr);
	}
}

.article-page-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
	border-radius: 6px;
	padding: 30px;
	box-shadow: 0 12px 21px 0 rgb(0 0 0 / 10%);
	background-color: var(--light-color);

	&__img {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		border-radius: 6px;
		width: 100%;
		max-width: fit-content;

		img {
			max-width: 300px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__title {
		margin: 0;
		font-family: var(--font-second);
		font-weight: 800;
		line-height: var(--line-height-big);
		@include adaptive-font(26, 26);
	}

	&__link {
		color: var(--dark-title-color);
		transition: color var(--time);

		&:hover {
			color: var(--accent-color);
		}
	}
}

@keyframes shine {
	to {
		left: 150%; /* Анимация перемещает отблеск за пределы справа */
	}
}
