.examples {
	&__inner {
		padding: 80px 70px;
		min-height: 500px;
		max-width: 30%;
		background-image: url('@img/examples/bg.webp');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: var(--bg-color);
	}
}

.examples-card {
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	min-height: 400px;
	max-width: 310px;

	&__info {
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 50px 20px;
		width: 100%;
	}

	&__title {
		margin: 0;
		font-size: 24px;
		color: var(--light-color);
	}

	&__subtitle {
		margin: 0;
		font-size: 16px;
	}
}
