@use 'mixins/adaptive-font' as *;
@use 'vars' as *;

.letters {
	&__info-card {
		margin-bottom: 70px;
	}

	&__wrap {
		position: relative;
	}

	&__swiper {
		position: static;
		margin-bottom: 50px;
	}

	& .swiper-button-prev {
		left: 0;
		transform: translateX(-50%);

		@media (width <= 1200px) {
			display: none;
		}
	}

	& .swiper-button-next {
		right: 0;
		transform: translateX(50%);

		@media (width <= 1200px) {
			display: none;
		}
	}
}

.letters-page {
	&__cards {
		display: grid;
		align-items: flex-start;
		grid-template-columns: repeat(4, 1fr);
		gap: 70px 30px;

		@media (width <= 992px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (width <= 576px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
