@use 'mixins/adaptive-font' as *;
@use 'vars' as *;

.services-tabs {
	padding: 0 10px;
	width: 100%;

	&__header {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 50px;
		gap: 10px 20px;

		&-item {
			border-radius: 10px;
			padding: 10px 15px;
			font-weight: 500;
			color: var(--light-color);
			background-color: var(--accent-color);
			transition: background-color var(--time);
			cursor: pointer;
			@include adaptive-font(16, 16);

			&:hover {
				background-color: var(--red-color);
			}

			&.active {
				background-color: var(--red-color);
			}
		}
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: center;

		&-item {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			width: fit-content;
			gap: 25px;

			@media (width <= 992px) {
				grid-template-columns: repeat(2, 1fr);
			}

			@media (width <= 768px) {
				grid-template-columns: repeat(1, 1fr);
			}
		}
	}
}

.services-card {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border-radius: 25px;
	width: 100%;
	max-width: 350px;
	box-shadow: 0 0 10px rgb(0 0 0 / 25%);
	line-height: var(--line-height-big);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	&__img {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		max-height: 200px;
	}

	&__price {
		position: absolute;
		right: 0;
		top: 0;
		border-radius: 0 10px;
		padding: 5px 10px;
		font-family: var(--font-second);
		background-color: var(--accent-color);
	}

	&__title {
		position: relative;
		margin: 0;
		max-width: fit-content;
		font-family: var(--font-second);
		font-weight: 700;
		@include adaptive-font(24, 18);

		&::before {
			content: '|';
			position: absolute;
			left: -14px;
			top: 0;
			font-weight: 400;
			color: var(--accent-color);
			@include adaptive-font(22, 20);
		}

		a {
			color: var(--dark-color);
			transition: color var(--time);

			&:hover {
				color: var(--accent-color);
			}
		}
	}

	&__links {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 30px;
		width: 100%;
		transition-property: transform, opacity, visibility;
		transition-duration: 0.5s;
		gap: 30px;
		@include adaptive-font(18, 18);
	}

	&__link {
		position: relative;
		margin: 0 auto;
		padding: 0;
		max-width: fit-content;
		font-family: var(--font-second);
		font-weight: 700;
		color: var(--gray-text-color);
		background-color: transparent;
		transition: color var(--time);

		&:hover {
			color: var(--red-color);
			background-color: transparent;
		}
	}

	&__inner {
		display: flex;
		flex-flow: column wrap;
		align-items: flex-start;
		align-items: stretch;
		width: 100%;
		font-weight: 500;
		gap: 5px;

		@media (width <= 1200px) {
			& .link {
				padding: 7px 12px;
			}
		}

		@media (width <= 992px) {
			& .link::after {
				display: none;
			}
		}
	}
}
