<section class="section section-advantages">
	<div class="container">
		<div class="advantages">
			<div class="advantages__card advantages-card">
				<div class="advantages-card__inner">
					<img class="advantages-card__icon" src="../@img/advantages/icon-1.webp" alt="Иконка карточки с услугой">
				</div>
				<div class="advantages-card__texts">
					<h2 class="advantages-card__title">
						Комплекс услуг
					</h2>
					<p class="advantages-card__descr">
						Для удобства клиентов предоставляем полный комплекс услуг
					</p>
				</div>
			</div>
			<div class="advantages__card advantages-card">
				<div class="advantages-card__inner">
					<img class="advantages-card__icon" src="../@img/advantages/icon-2.webp" alt="Иконка карточки с услугой">
				</div>
				<div class="advantages-card__texts">
					<h2 class="advantages-card__title">
						Опыт работы
					</h2>
					<p class="advantages-card__descr">
						Специалисты имеют необходимую квалификацию и большой опыт
					</p>
				</div>
			</div>
			<div class="advantages__card advantages-card">
				<div class="advantages-card__inner">
					<img class="advantages-card__icon" src="../@img/advantages/icon-3.webp" alt="Иконка карточки с услугой">
				</div>
				<div class="advantages-card__texts">
					<h2 class="advantages-card__title">
						Оборудование
					</h2>
					<p class="advantages-card__descr">
						Используем только профессиональное оборудование и снаряжение
					</p>
				</div>
			</div>
			<div class="advantages__card advantages-card">
				<div class="advantages-card__inner">
					<img class="advantages-card__icon" src="../@img/advantages/icon-4.webp" alt="Иконка карточки с услугой">
				</div>
				<div class="advantages-card__texts">
					<h2 class="advantages-card__title">
						Гарантия
					</h2>
					<p class="advantages-card__descr">
						Работаем официально по договору и даем гарантию на все работы
					</p>
				</div>
			</div>
		</div>
	</div>
</section>