<div class="banner">
	<div class="container">
		<div class="banner__content">
			<h1 class="banner__title">Статьи</h1>
		</div>
	</div>
</div>
<section class="section">
	<div class="container">
		<div class="article-page">
			<div class="article-page__cards">
				<div class="article-page__card article-page-card">
					<a class="article-page-card__img">
						<img src="@img/team/img-1.webp" alt="Измельчение веток в щепу в Лесных Полянах">
					</a>
					<div class="article-page-card__content">
						<h3 class="article-page-card__title">
							<a class="article-page-card__link link-reset" href="#/">Измельчение веток в щепу в Лесных Полянах</a>
						</h3>
						<p class="article-page-card__text text">
							В летний зной сквозняки в городской квартире только радуют. Однако теплых дней не так уж много, и уже в
							сентябре многие
							начинают задаваться вопросом: «Откуда же так дует?». Вроде бы…
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>