<section class="section">
	<div class="container">
		<div class="calc">
			<h2 class="calc__title title">
				Стоимость услуг
			</h2>

			<div class="calc__wrap">
				<table class="calc__table">
					<thead>
						<tr>
							<th>Услуги</th>
							<th>Ед</th>
							<th>Цены, от</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Гидроструйная очистка внутренней
								поверхности АВД (250 бар)</td>
							<td>м<sup>2</sup></td>
							<td>130 ₽</td>
						</tr>
						<tr>
							<td>Гидроструйная очистка внутренней
								поверхности АВД (250 бар)</td>
							<td>м<sup>2</sup></td>
							<td>130 ₽</td>
						</tr>
					</tbody>
				</table>

				<div class="calc__inner">
					<h3 class="calc__subtitle title">
						Калькулятор
					</h3>
					<form class="calc__form" action="#">
						<div class="select" id="type">
							<div class="select__header">
								<span class="select__current">Гидроструйная очистка внутренней
									поверхности АВД (250 бар)</span>
								<div class="select__icon">&times;</div>
							</div>

							<div class="select__body">
								<div class="select__item" data-cost="100">Гидроструйная очистка внутренней
									поверхности АВД (250 бар)</div>
								<div class="select__item" data-cost="200">Гидроструйная очистка фасада АСВД (350-500 бар)</div>
								<div class="select__item" data-cost="300">Механическая очистка от зависаний</div>
								<div class="select__item" data-cost="400">Очистка цементного силоса</div>
								<div class="select__item" data-cost="500">Выезд для оценки сложности и стоимости работ</div>
							</div>
						</div>

						<!-- <input class="calc__input" id="square" type="number" placeholder="Площадь *">
						<input class="calc__input" id="name" type="text" placeholder="Имя *">
						<input class="calc__input" id="phone" type="tel" placeholder="Телефон *"> -->

						<div class="calc__price">
							<span class="calc__details">
								Предварительная стоимость
							</span>
							<span class="calc__cost">
								0₽
							</span>
						</div>

						<!-- <input class="calc__submit btn-reset" type="submit" value="Отправить"> -->
					</form>
				</div>
			</div>
		</div>
	</div>
</section>