<section class="section section-contacts">
	<div class="container">
		<div class="contacts">
			<div class="contacts__info contacts-info">

				<div class="contacts-info__info-card info-card info-card--column">
					<div class="info-card__inner">
						<span class="info-card__subtitle info-card__subtitle--uppercase info-card__subtitle--gray-color">
							Контактная информация
						</span>
						<h2 class="info-card__title title">
							Свяжитесь с нами
						</h2>
					</div>

					<p class="info-card__text info-card__text--max-width text">
						Мы ценим каждого нашего клиента и понимаем важность личного контакта, поэтому выезд специалиста для
						консультации и
						оценки у нас бесплатный! Звоните!
					</p>
				</div>

				<div class="contacts-info__list">
					<div class="contacts-info__item contact">
						<div class="contact__icon">
							<svg>
								<use href="img/icons/sprite.svg#pin"></use>
							</svg>
						</div>
						<div class="contact__texts">
							<h3 class="contact__title">Адрес</h3>
							<address class="contact__text">
								141074, Московская область, город Королев, Ярославский проезд, дом 3а
							</address>
						</div>
					</div>

					<div class="contacts-info__item contact">
						<div class="contact__icon">
							<svg>
								<use href="img/icons/sprite.svg#mail"></use>
							</svg>
						</div>
						<div class="contact__texts">
							<h3 class="contact__title">Адрес</h3>
							<a class="contact__text contact__text--hover link-reset" href="mailto:pro-alpinizm@mail.ru">
								pro-alpinizm@mail.ru
							</a>
						</div>
					</div>

					<div class="contacts-info__item contact">
						<div class="contact__icon">
							<svg>
								<use href="img/icons/sprite.svg#phone"></use>
							</svg>
						</div>
						<div class="contact__texts">
							<h3 class="contact__title">Телефоны</h3>
							<div class="contact__inner">
								<a class="contact__text contact__text--hover link-reset" href="tel:74993430609">
									+7 (499) 343-06-09
								</a>
								<a class="contact__text contact__text--hover link-reset" href="tel:79265131833">
									+7 (926) 513-18-33
								</a>
							</div>
						</div>
					</div>

					<div class="contacts-info__item contact">
						<div class="contact__icon">
							<svg>
								<use href="img/icons/sprite.svg#pin"></use>
							</svg>
						</div>
						<div class="contact__texts">
							<h3 class="contact__title">Адрес</h3>
							<address class="contact__text">
								141074, Московская область, город Королев, Ярославский проезд, дом 3а
							</address>
						</div>
					</div>
				</div>

				<div class="contacts-info__inner">
					<p class="contacts-info__text contacts-info__text--bold">ООО "Про-альпинизм"</p>
					<p class="contacts-info__text">ОГРН 1145018006077 ИНН 5018166550</p>
				</div>

				<a class="contacts-info__link link-reset" href="#/">Публичная оферта</a>

				<div class="contacts-info__socials">
					<a class="contacts-info__social contacts-info__social--wa link-reset" href="#/">
						И
					</a>
					<a class="contacts-info__social contacts-info__social--tg link-reset" href="#/">
						И
					</a>
					<a class="contacts-info__social contacts-info__social--vk link-reset" href="#/">
						И
					</a>
					<a class="contacts-info__social contacts-info__social--tt link-reset" href="#/">
						И
					</a>
					<a class="contacts-info__social contacts-info__social--yt link-reset" href="#/">
						И
					</a>
					<a class="contacts-info__social contacts-info__social--ig link-reset" href="#/">
						И
					</a>
				</div>

			</div>
			<div class="contacts__form contacts-form">Форма</div>
		</div>
	</div>
</section>