<section class="section section-hero">
	<div class="container">
		<div class="hero">
			<div class="hero__content">
				<div class="hero__titles">
					<h1 class="hero__title">
						Промышленный альпинизм
					</h1>
					<h2 class="hero__subtitle">
						любой сложности в Москве и Московской области
					</h2>
				</div>
				<div class="hero__text hero-text">
					<p class="hero-text__item">Команда профессиональных альпинистов и арбористов.</p>
					<p class="hero-text__item">
						Работаем без посредников!
					</p>
				</div>
			</div>
			<div class="hero__form">Форма</div>
			<a class="hero__link link link-reset" href="#/">
				Заказать звонок
			</a>
		</div>
	</div>
</section>