<section class="section section--dark-bg">
	<div class="container">
		<div class="letters">

			<div class="letters__info-card info-card info-card--center">
				<div class="info-card__inner">
					<span class="info-card__subtitle info-card__subtitle--uppercase">
						Письма
					</span>
					<h2 class="info-card__title title title--light-color">
						Благодарственные
						письма
					</h2>
				</div>

				<p class="info-card__text text text--light-color">
					Квалификация специалистов нашей команды позволяет выполнять широкий спектр высотных ремонтно-строительных
					работ,
					монтажных работ, работ по обеспечению безопасности граждан с использованием технологий промышленного и
					гражданского
					альпинизма.
				</p>
			</div>

			<div class="letters__swiper swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="letters__card main-card">
							<img class="letters__img" src="@img/letters/img-1.webp" alt="АО 'НПОИТ'">
							<div class="main-card__info">
								<h3 class="main-card__title">
									<a class="link-reset" href="#/">
										АО «НПОИТ»
									</a>
								</h3>
								<a class="main-card__link link-reset" href="#/">
									Подробнее
								</a>
							</div>
						</div>
					</div>

					<div class="swiper-slide">
						<div class="letters__card main-card">
							<img class="letters__img" src="@img/letters/img-1.webp" alt="АО 'НПОИТ'">
							<div class="main-card__info">
								<h3 class="main-card__title">
									<a class="link-reset" href="#/">
										АО «НПОИТ»
									</a>
								</h3>

								<a class="main-card__link link-reset" href="#/">
									Подробнее
								</a>
							</div>
						</div>
					</div>

					<div class="swiper-slide">
						<div class="letters__card main-card">
							<img class="letters__img" src="@img/letters/img-1.webp" alt="АО 'НПОИТ'">
							<div class="main-card__info">
								<h3 class="main-card__title">
									<a class="link-reset" href="#/">
										АО «НПОИТ»
									</a>
								</h3>

								<a class="main-card__link link-reset" href="#/">
									Подробнее
								</a>
							</div>
						</div>
					</div>

					<div class="swiper-slide">
						<div class="letters__card main-card">
							<img class="letters__img" src="@img/letters/img-1.webp" alt="АО 'НПОИТ'">
							<div class="main-card__info">
								<h3 class="main-card__title">
									<a class="link-reset" href="#/">
										АО «НПОИТ»
									</a>
								</h3>
								<a class="main-card__link link-reset" href="#/">
									Подробнее
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>

				<div class="swiper-pagination"></div>
			</div>

			<a class="team__link link link-reset" href="#/">Смотреть все</a>

		</div>
	</div>
</section>