<section class="section">
	<div class="container">
		<div class="price">

			<h2 class="price__subtitle title">
				Стоимость фасадных работ
			</h2>

			<table class="price__table table">
				<thead>
					<tr>
						<th>Наименование</th>
						<th>Цена</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<a class="table__link link-reset" href="#/">
								Герметизация межпанельных швов
							</a>
						</td>
						<td>от 250 руб/пог. м.</td>
					</tr>
					<tr>
						<td>
							<a class="table__link link-reset" href="#/">
								Утепление фасадов
							</a>
						</td>
						<td>от 550 руб/м2</td>
					</tr>
				</tbody>
			</table>

			<h2 class="price__subtitle title">
				Стоимость фасадных работ
			</h2>

			<table class="price__table table">
				<thead>
					<tr>
						<th>Наименование</th>
						<th>Цена</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<a class="table__link link-reset" href="#/">
								Герметизация межпанельных швов
							</a>
						</td>
						<td>от 250 руб/пог. м.</td>
					</tr>
					<tr>
						<td>
							<a class="table__link link-reset" href="#/">
								Утепление фасадов
							</a>
						</td>
						<td>от 550 руб/м2</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</section>