<section class="section">
	<div class="container">
		<div class="schemes">

			<div class="info-card info-card--text-center">
				<div class="info-card__inner">
					<h2 class="info-card__title title">
						Схема работы
					</h2>
				</div>

				<p class="info-card__text text">
					Наше сотрудничество начинается с вашего звонка, сообщения в один из мессенджеров или письма на электронную
					почту. Мы
					обсуждаем все детали работы и делаем предварительную оценку стоимости и сроков выполнения работ. Для точной
					оценки могут
					понадобиться дополнительные фотографии или выезд специалиста на объект.
				</p>
			</div>

			<div class="schemes__cards">
				<div class="schemes__card schemes-card">
					<svg class="schemes-card__icon">
						<use href="img/icons/sprite.svg#consultation"></use>
					</svg>
					<h3 class="schemes-card__title">
						Консультация
					</h3>
					<p class="schemes-card__text text text--light-color">
						Бесплатная консультация и выезд для оценки стоимости работ
					</p>
				</div>

				<div class="schemes__card schemes-card">
					<svg class="schemes-card__icon">
						<use href="img/icons/sprite.svg#consultation"></use>
					</svg>
					<h3 class="schemes-card__title">
						Цена и качество
					</h3>
					<p class="schemes-card__text text text--light-color">
						Для нас важно, чтобы наши услуги были доступными и качественными
					</p>
				</div>

				<div class="schemes__card schemes-card">
					<svg class="schemes-card__icon">
						<use href="img/icons/sprite.svg#consultation"></use>
					</svg>
					<h3 class="schemes-card__title">
						Безопасность
					</h3>
					<p class="schemes-card__text text text--light-color">
						Даем гарантию сохранности имущества во время проведения работ
					</p>
				</div>

				<div class="schemes__card schemes-card">
					<svg class="schemes-card__icon">
						<use href="img/icons/sprite.svg#consultation"></use>
					</svg>
					<h3 class="schemes-card__title schemes-card__title--big">
						1500&#160;+
					</h3>
					<p class="schemes-card__text text text text--light-color schemes-card__text--uppercase">
						Выполненных работ и довольных клиентов
					</p>
				</div>
			</div>
		</div>
	</div>
</section>