<section class="section">
	<div class="container">
		<div class="team-member">
			<div class="team-member__wrap">
				<div class="team-member__img">
					<img src="@img/team/img-1.webp" alt="Фото члена команды">
				</div>

				<div class="team-member__content">
					<div class="team-member__inner">
						<h2 class="team-member__name">
							Денис
						</h2>
						<p class="team-member__prof">
							Оператор измельчителя веток
						</p>
					</div>

					<p class="team-member__text text">
						Денис — арборист и оператор щепореза с 8-летним опытом работы. Он является настоящим мастером в вопросах
						удаления
						деревьев любой сложности. Денис выполняет работы аккуратно и эффективно: удаляет деревья, быстро измельчает
						их и
						оперативно вывозит остатки. Он способен работать как самостоятельно, так и в составе бригады, обеспечивая
						высокий
						уровень качества и безопасности на каждом этапе работы. Его опыт и профессионализм делают его незаменимым
						специалистом в
						нашей команде.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="skills">
	<div class="container">
		<h2 class="skills__title">Навыки</h2>

		<div class="skills__wrap">
			<div class="skills__item">
				<h3 class="skills__name">
					Работа с бензопилой
				</h3>
				<div class="skills__progress skills-progress">
					<span class="skills-progress__value">99</span>
				</div>
			</div>

			<div class="skills__item">
				<h3 class="skills__name">
					Высотные работы
				</h3>
				<div class="skills__progress skills-progress">
					<span class="skills-progress__value">92</span>
				</div>
			</div>

			<div class="skills__item">
				<h3 class="skills__name">
					Работа с техникой
				</h3>
				<div class="skills__progress skills-progress">
					<span class="skills-progress__value">100</span>
				</div>
			</div>

			<div class="skills__item">
				<h3 class="skills__name">
					Работа с ручным инструментом
				</h3>
				<div class="skills__progress skills-progress">
					<span class="skills-progress__value">97</span>
				</div>
			</div>
		</div>
	</div>
</div>