<div class="banner">
	<div class="container">
		<div class="banner__content">
			<h1 class="banner__title">Техника</h1>
		</div>
	</div>
</div>
<section class="section">
	<div class="container">
		<div class="technic">
			<div class="technic__cards">
				<div class="technic__card second-card">
					<img src="@img/technic/img-1.webp" alt="Измельчитель веток GreenMech ChipMaster 220">
					<h2 class="second-card__title">
						<a class="second-card__link link-reset" href="#/">Измельчитель веток GreenMech ChipMaster 220</a>
					</h2>
				</div>
			</div>
		</div>
	</div>
</section>