<div class="banner">
	<div class="container">
		<div class="banner__content">
			<h1 class="banner__title">Выполненные работы</h1>
		</div>
	</div>
</div>
<section class="section">
	<div class="container">
		<div class="works">
			<div class="works__cards">
				<div class="works__card works-card">
					<div class="works-card__img">
						<img src="@img/team/img-1.webp" alt="Измельчение веток в щепу в Лесных Полянах">
					</div>
					<a class="works-card__category link-reset" href="#">Арбористика</a>
					<h3 class="works-card__title">
						<a class="works-card__link link-reset" href="#/">Измельчение веток в щепу в Лесных Полянах</a>
					</h3>
				</div>
			</div>
		</div>
	</div>
</section>